In [1]:
import re
import pandas as pd
import pymysql
import openai
import warnings
warnings.filterwarnings('ignore')

def openapi(prompt):
    openai.api_key = "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"
    completion = openai.ChatCompletion.create(
          model="gpt-3.5-turbo",
          temperature=0,
          max_tokens=2000,
          top_p=1,
          frequency_penalty=0,
          presence_penalty=0,
          messages=[{"role": "user", "content": f"{prompt}"}]
    )
    respones_text = completion.choices[0].message.content
    respones_text = respones_text.replace("\n\n", "")
    return respones_text

def prompt_len(question_text, input_text):
    prompt = "".join([question_text, input_text]) 
    if len(prompt) >= 2000:
        prompt = prompt[:2000]
    return prompt

def description_cn(number):
    try:
        store_id = number
        lang = 'zh-Hans'
        
        conn = pymysql.connect(host='db-6j3k3.pub-cdb.ntruss.com', db = "redtable2021", user='redtable', password='fpemxpdlqmf5491!@#', cursorclass = pymysql.cursors.DictCursor)
        curs = conn.cursor()
        sql = """
            SELECT s.id AS 'store_id', 
                    if(st.name IS NOT NULL AND st.name != "", st.name, "-" ) AS '매장명',
                    if(st.branch_name IS NOT NULL AND st.branch_name != "", st.branch_name, "-") AS '지점명',
                    if(slt.name IS NOT NULL AND slt.name !="", slt.name, "-") AS '카테고리',
                    if(st.optime IS NOT NULL AND st.optime !="", st.optime, "-") AS '영업시간', 
                    if(st.holiday IS NOT NULL AND st.holiday !="", st.holiday, "-") AS '정규휴무일', 
                    if(subway.subway_walk IS NOT NULL AND subway.subway_walk != "", CONCAT("从", subway.subway_name, "步行", subway.subway_walk, '分钟'), if(subway.subway_name IS NOT NULL AND subway.subway_name !="", subway.subway_name, "-")) AS '가까운 지하철역',
                    if(price.avg_price IS NOT NULL AND price.avg_price != "-", price.avg_price, "-") AS '가격대',
                    if(GROUP_CONCAT(DISTINCT p.name SEPARATOR ' | ') IS NOT NULL AND GROUP_CONCAT(DISTINCT p.name SEPARATOR ' | ') != "", GROUP_CONCAT(DISTINCT p.name SEPARATOR ' | '), "-") AS '대표메뉴',
                    if(st.description IS NOT NULL AND st.description != "", st.description, "-") AS '매장소개',
                    if(smt.title IS NOT NULL AND smt.title !="", \
                            concat( "(", "电视台", smt.media, ")",  "节目名", smt.title, "(","播出时间", smt.date, "播出集数", smt.round, ")") , "-") AS '미디어',
                    if(sat.type IS NOT NULL AND sat.type != "", sat.type, "-") AS '어워드'
            FROM store s
            LEFT JOIN store_translate st ON s.id = st.store_id AND st.lang = '{1}'
            LEFT JOIN store_label sl ON s.id = sl.store_id
            LEFT JOIN store_label_master slm ON sl.store_label_master_id = slm.id
            LEFT JOIN store_label_translate slt ON slm.id = slt.store_label_master_id AND slt.lang = '{1}'
            LEFT JOIN (SELECT s.id, lt.name AS 'subway_name', CAST(sld.distance AS signed INTEGER) AS 'subway_distance', ROUND((sld.distance * 60) / 4000, 0) AS 'subway_walk', ROW_NUMBER() OVER(PARTITION BY sld.store_id ORDER BY sld.distance ASC) AS distance_rank
                       FROM store s
                       INNER JOIN store_landmark sld ON s.id = sld.store_id
                       INNER JOIN landmark_master lm ON sld.landmark_master_id = lm.id AND lm.type = "subway_station"
                       INNER JOIN landmark_translate lt ON lm.id = lt.landmark_master_id AND lt.lang = '{1}'
                       WHERE sld.store_id = {0}) subway ON s.id = subway.id AND subway.distance_rank = 1
            LEFT JOIN (SELECT p.id, p.store_id, pt.name AS 'name', ROW_NUMBER() OVER (PARTITION BY p.store_id ORDER BY sorting DESC) sorting_rank
                       FROM product p
                       LEFT JOIN product_translate pt ON p.id = pt.product_id AND pt.lang = '{1}'
                       WHERE p.is_main = 1 AND p.status = 'normal' AND p.name != '식사이용권' AND (p.name LIKE '%+%' OR p.name NOT LIKE '%금액권%') AND p.store_id = {0}) p ON p.store_id = s.id AND p.sorting_rank <= 3
            LEFT JOIN (SELECT store_id, if(CAST(AVG(price) / 10000 AS signed INTEGER) > 0, CONCAT(CAST(AVG(price) / 10000 AS signed INTEGER), "万韩元"), "-") AS 'avg_price'
                       FROM product
                       WHERE is_main = 1 AND status = 'normal' AND name != '식사이용권' AND (name LIKE '%+%' OR name NOT LIKE '%금액권%') AND price >= 1000 AND store_id = {0}
                       GROUP BY store_id) price ON price.store_id = s.id
            LEFT JOIN store_media sm ON s.id = sm.store_id
            LEFT JOIN store_media_translate smt ON sm.id = smt.store_media_id AND smt.lang = '{1}'
            LEFT JOIN store_award sa on s.id = sa.store_id
            LEFT JOIN store_award_translate sat on sa.id = sat.store_award_id AND sat.lang = '{1}'
            WHERE s.id = {0}
            GROUP BY s.id
        """
        curs.execute(sql.format(store_id, lang))
        result = curs.fetchall()
        df_store = pd.DataFrame(result)
        sql = """
            SELECT p.store_id, pt.name AS '상품명', 
                if(GROUP_CONCAT(DISTINCT pct.name SEPARATOR ',') IS NOT NULL AND GROUP_CONCAT(DISTINCT pct.name SEPARATOR ',') != "", GROUP_CONCAT(DISTINCT pct.name SEPARATOR ','), "-") AS '상품라벨',
                if(CAST(p.price AS signed INTEGER) > 1000, CAST(p.price AS signed INTEGER), "-") AS '가격',
                if(pt.description IS NOT NULL AND pt.description != "", pt.description, "-") AS '상품정보',
                if(pt.includes IS NOT NULL AND pt.includes != "", pt.includes, "-") AS '포함정보'
            FROM product p
            LEFT JOIN product_translate pt ON p.id = pt.product_id AND pt.lang = '{1}'
            LEFT JOIN product_category pc ON p.id = pc.product_id
            LEFT JOIN product_category_master pcm ON pc.product_category_master_id = pcm.id
            LEFT JOIN product_category_translate pct ON pcm.id = pct.product_category_master_id AND pct.lang = '{1}'
            WHERE p.status = 'normal' AND p.is_main = 1 AND pt.name IS NOT NULL AND pt.name != "" AND p.name != '식사이용권' AND p.store_id = {0} AND (p.name LIKE '%+%' OR p.name NOT LIKE '%금액권%')
            GROUP BY p.id
            ORDER BY p.sorting DESC
            LIMIT 3;
        """
        curs.execute(sql.format(store_id, lang))
        result = curs.fetchall()
        df_product = pd.DataFrame(result)
        conn.close()
        curs.close()

        pattern = r'\([^)]*\)'
        line = "" + "\n"
        product_text = ""
        if len(df_store["대표메뉴"]) > 0:
            for i in range(len(df_store["store_id"])):
                df_store["대표메뉴"][i] = re.sub(pattern=pattern, repl='', string=df_store["대표메뉴"][i])
        
        if len(df_product) > 0:
            for i in range(len(df_product["store_id"])):
                df_product["상품명"][i] = re.sub(pattern=pattern, repl='', string=df_product["상품명"][i])
        
            for i in range(len(df_product["상품명"])):    
                product_sn = "菜单 : 产品" + str(len(df_product["상품명"])-i) + "\n"
                product_name = "菜名: " + df_product["상품명"][i] + "\n"
                product_label = "菜单分类 : " + df_product["상품라벨"][i] + "\n"
                product_price = "产品价格 : " + df_product["가격"][i] + "韩元" + "\n"
                product_description = "产品信息 : " + df_product["상품정보"][i] + "\n"
                product_includes = "包含信息 : " + df_product["포함정보"][i] + "\n"
                product_text = "".join([product_sn, product_name, product_label, product_price, product_description, product_includes, product_text, line])
        
        question_text = "作为新闻记者写一篇介绍饭店的文章，请用1行写一句具有独创性的广告文案。\n"
        store_name = "店铺名 : " + df_store["매장명"][0] + "\n"
        branch_name = "分店 : " + df_store["지점명"][0] + "\n"
        category_name = "类型 : " + df_store["카테고리"][0] + "\n"
        optime = "营业时间 : " + df_store["영업시간"][0] + "\n"
        holiday_information = "休息日 : " + df_store["정규휴무일"][0] + "\n"
        nearby_subway = "附近地铁站 : " + df_store["가까운 지하철역"][0] + "\n"
        price = "人均消费 : " + df_store["가격대"][0] + "\n"
        representative_menu = "招牌菜 : " + df_store["대표메뉴"][0] + "\n"
        media = "登上电视节目 : " + df_store["미디어"][0] + "\n"
        award = "获奖 : " + df_store["어워드"][0] + "\n"
        #store_introduction = "店铺简介 : " + df_store["매장소개"][0] + "\n"
        input_text = "".join([line, store_name, branch_name, category_name, optime, holiday_information, nearby_subway, price, \
                              representative_menu, media, award, product_text])
        prompt = prompt_len(question_text, input_text)
        respones_text = openapi(prompt)

        # 출처 : https://blog.naver.com/PostView.nhn?isHttpsRedirect=true&blogId=ozzy7878&logNo=100105691453
#         2E80	2EFF	CJK Radicals Supplement	한중일 부수 보충
#         3000	303F	CJK Symbols and Punctuation	한중일 기호 및 구두점
#         31C0	31EF	CJK Strokes	한중일 한자 획
#         3200	32FF	Enclosed CJK Letters and Months	한중일 괄호 문자
#         3300	33FF	CJK Compatibility	한중일 호환용
#         3400	4DBF	CJK Unified Ideographs Extension A	한중일 통합 한자 확장-A
#         4E00	9FBF	CJK Unified Ideographs	한중일 통합 한자
#         F900	FAFF	CJK Compatibility Ideographs	한중일 호환용 한자
#         FE30	FE4F	CJK Compatibility Forms	한중일 호환용 꼴
        
        if len(re.findall(u'[\u2E80-\u2EFF\u3000-\u303F\u31C0-\u31EF\u3200-\u32FF\u3300-\u33FF\u3400-\u4DBF\u4E00-\u9FBF\uF900-\uFAFF\uFE30-\uFE4F]+', respones_text)) > 0:
            return respones_text, print(prompt)
        
        another_question_text = "作为新闻记者写一篇介绍餐厅的文章，请用1行写一句具有独创性的广告文案。如果餐厅名是英文的话，除了餐厅名以外，全部用中文简体填写。\n"
        prompt = prompt_len(another_question_text, input_text)
        return openapi(prompt), print(prompt)
    except:
        print("Store ID : " + str(number) + " 가 실행되지 않았습니다.")

In [3]:
description_cn(151480)

作为新闻记者写一篇介绍饭店的文章，请用1行写一句具有独创性的广告文案。

店铺名 : 225 Tomato Street
分店 : 太和店
类型 : 韩餐
营业时间 : 每天 12:00~22:00
休息日 : -
附近地铁站 : -
人均消费 : 5万韩元
招牌菜 : 225A套餐料理 | 225牛肉排 | 2in Set
登上电视节目 : -
获奖 : -
菜单 : 产品1
菜名: 225A套餐料理
菜单分类 : -
产品价格 : 45000韩元
产品信息 : -
包含信息 : -
菜单 : 产品2
菜名: 2in Set
菜单分类 : -
产品价格 : 75000韩元
产品信息 : -
包含信息 : -
菜单 : 产品3
菜名: 225牛肉排
菜单分类 : -
产品价格 : 42000韩元
产品信息 : -
包含信息 : -

('"品味韩国美食，尽在225 Tomato Street太和店，让您的味蕾尽情享受！"', None)